<!DOCTYPE html>
<html lang="en">
<head>
    {{>header2}}
</head>
<body>
    {{>navbar}}


    <!-- header -->
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
 
    </div>
    </div>
        <div class="row">
            <!-- Left -->
           
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                  <img src="image/WhatsApp Image 2024-04-18 at 15.52.17_00ee1ac3.jpg" width="50%" alt="yash" class="img-fluid">
                </figure>
          
            <!-- Right -->
            <div class="col-md-6 col-12 main_header_left">
                
                <h1>I am <span>FullStack Developer</span> and Student</h1>
               <a href="https://www.linkedin.com/in/yash-bastawad-2b8ab3255/" target="_Yash"><button>About me</button></a>
    </div>
            
        </div>
    </div>
    </div>
{{>Footer}}
</body>
</html>